@mixin flexCol(){
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer{
  height: 200px;
  background-color: rgb(56, 56, 56);
  color: white;
  @include flexCol();
}
